<!DOCYPE html>
<html>
  <head>
    <title>Book Info</title>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <style>
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .input-hidden {
      display: hidden;
    }
    
    .card-progress {
      background: #ffffff;
      right: 0;
      position: fixed;
      bottom: 0;
      z-index: 1;
      border: black 5px dotted;
    }
    
    .w33 {
      width: 33%;
    }
  </style>
  <body>
    <div class="card w33">
      <div class="card-body card-progress">
        <h5 class="card-title">Tu Score es</h5>
        <p class="card-text"><%= @score %>.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card container">
      <div class="card-header">
        Pregunta
      </div>
      <div class="card-body">
          <form method="POST" action="/submit-respuesta">
            <div class="form-group">
              <label for="pregunta"><%= @question['Question'] %></label>
              <div class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="<%= @question['Answer'] %>">
                      <label class="form-check-label" for="gridRadios1">
                        <%= @question['Answer'] %>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="<%= @question['W1'] %>">
                      <label class="form-check-label" for="gridRadios2">
                        <%= @question['W1'] %>
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="<%= @question['W2'] %>">
                      <label class="form-check-label" for="gridRadios3">
                        <%= @question['W2'] %>
                      </label>
                    </div>
                    <input class="input-hidden" name="idUsuario" value=<%= @id %>>
                  </div>
                </div>
              </div>
            </div>
            <input type="text" class="form-control" id="pregunta" aria-describedby="emailHelp" placeholder="Resultada">
            <hr>
          <button type="submit" class="btn btn-primary">Check</button>
          </form>
      </div>
    </div>
  </body>
</html>